 body {
        display: block;
        text-align: center;
        margin: 10px;
      }
 div {
        display: block;
        background: linear-gradient(#FFB3D1, #68DDE8);
        line-height: 1.2em;
        font-size: 13pt;
        margin: 30px 30px;
        padding: 30px;
      }
      h1 {
        font-size: 40px;
      }
      h2 {
        font-size: 25px;
        font-style: italic;
        font-weight: 400;
      }
      img {
        border-radius: 6px;
        border: 4px 6px;
      }

      p {
        padding: 12px;
        margin: 10px;
        border: 15px;
      }

      ul {
        list-style-type: none;
        padding: 5px 10px;
        margin: 5px;
      }

      a {
        text-decoration: none;
        color: red;
      }
      a:hover {
        text-decoration: underline;
        color: blue;
      }
      button {
        display: block;
        margin: 0 auto;
        border: 1px solid #77f3f3;
        background: #e7a8ec;
        color: #fff;
        font-size: 30px;
        line-height: 20px;
        padding: 12px;
        border-radius: 8px;
        box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
        transition: all 200ms ease;
      }
      button:hover {
        cursor: pointer;
        background: white;
        color: #c735f3c0;
        border: 1px solid #521ce7ef;
      }
      .footer {
        font-size: 15px;
        font-style: italic;
        color: gray;
      }
